.item {
    text-align: center;
    width: 200px;
    border: 1px solid #ccc;
    padding: 20px 5px;
    border-radius: 5px;
    line-height: 22px;
    margin-bottom: 10px
}

.nome {
    font-weight: bold;
}

.marca {
    color: #a8a7a7
}

.valor {
    color: cadetblue;
    font-weight: bold;
}

.btn-comprar {
    margin-top: 20px;
    background-color: rgb(243, 158, 0);
    color: #fff;
    border: none;
    font-weight: bold;
    padding:10px 25px;
    cursor: pointer;
}

.btn-comprar:hover {
    opacity: 0.8;
}

.verde {
    background-color: rgb(8, 243, 0);
}

.azul {
    background-color: rgb(0, 194, 243);
}

.preto {
    background-color: #000
}